
<div class="cards-container">
  <% @events.sort_by(&:end_time).reverse.each do |event| %>
    <%= link_to event_path(event) do %>
      <% if event.end_time.to_date == Date.current %>
        <div class="card" style="border: 3px solid #ff6961">
          <%= image_tag "https://source.unsplash.com/GANqCr1BRTU/300x300" %>
          <div class="card-info ms-3 mt-3">
            <h3><%= event.title %></h3>
            <p><span style= "font-weight: bold">Last day:</span> <%= event.end_time.strftime('%a, %B %e, %y until %l:%M %P') %></p>
          </div>
        </div>
      <% else %>
        <div class="card">
          <%= image_tag "https://source.unsplash.com/GANqCr1BRTU/300x300" %>
          <div class="card-info ms-3 mt-3">
            <h3><%= event.title %></h3>
            <p><span style= "font-weight: bold">Last day:</span> <%= event.end_time.strftime('%a, %B %e, %y until %l:%M %P') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
