<div class="form">
  <%= simple_form_for (@event) do |f| %>
  <%= f.input :title, id:"title-input", placeholder: "todos"%>
  <%= f.input :description, placeholder: "Write max. 600 characters" %>
  <%= f.input :start_time %>
  <%= f.input :end_time%>


    <div class="submit-div">
    <%= f.submit 'Submit', id: "submit-button" %>
  <% end %>
  </div>
</div>
