<div class="container mt-5">
  <div class="card">
    <h3>Subject: <%=@event.title%></h3>
    <p>Details: <%=@event.description%></p>
    <p>Start_time: <%=@event.start_time%></p>
    <p>End_time: <%=@event.end_time%></p>
  </div>
</div>
<div>
  <%= link_to "Back events", events_path %>
</div>
<div>
  <%= link_to "New event", new_event_path %>
</div>
