<div class ="banner" style="background-image: url(https://source.unsplash.com/vUwJ8uu_C1M/1000x1000)", height:350;>
  <div class ="banner-container">
  </div>
</div>
<div class="show-card-container mt-5">
  <div class="left-card">
    <div class= "container">
      <div class="row">
        <h3><%=@event.title%></h3>
        <div class="col-12 d-flex mt-3">
          <p style="font-weight: bold" class="col-3">Start_time: </p>
          <p class="col-9"><%=@event.start_time.strftime('%a, %B %e, %y until %l:%M %P')%></p>
        </div>
        <div class="col-12 d-flex">
          <p style="font-weight: bold" class="col-3">End_time: </p>
          <p class="col-9"><%=@event.end_time.strftime('%a, %B %e, %y until %l:%M %P')%></p>
        </div>
        <div class="col-12 d-flex">
          <p style="font-weight: bold" class="col-3">Details: </p>
          <p class="col-9"><%=@event.description%></p>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "https://source.unsplash.com/e-TuK4z2LhY/300x300" %>
</div>
